<!DOCTYPE html>
<html lang="en">
<head>
  <title>Activation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    
    
    </style>
</head>
<body>

<div class="container"id="pop"style="    width: 25%;
    position: absolute;
    left: 36%;
    top: 36%;
    text-align: center;
    background: blueviolet;
    color: floralwhite;
    padding-bottom: 15px;
    padding-top: 15px;">
    <h1>Activation Mail</h1>
    <hr>
<p>Your Activation link has been sent to your email. Please check your inbox.</p>
</div>

</body>
</html>
