<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Swachh Bharat</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <link href="../static/css/custom-swachh-feeds.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <script src="https://use.fontawesome.com/c2854c2e83.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


  </head>
  <body>
<nav class="navbar navbar-default"style="height:78px;background: rgba(70,41,129,0.88);">
  <div class="container-fluid">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand"style="color:white;padding-top:28px;" href="#" >Swachh Bharat</a>
      </div>
       <div class="collapse navbar-collapse" id="myNavbar">
       <form class="navbar-form navbar-left">
      <div class="form-group" style="position: relative;display: inline-flex;">
        <input type="text" class="searchbar" placeholder="Search">
               <span style="position:absolute;padding:18px 0 0 45px;"><i class="fa fa-search" aria-hidden="true"></i></span> 
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right righticons">
      <li><a href="#"style="color:white;">Log Out</a></li>
              <li><a href="#"style="color:white;"data-toggle="modal" data-target="#editpic">Post Picture</a></li>
      <li><a href="#"style="color:white;">Settings</a></li>

    </ul>
      </div></div>
</nav>
      
      
      
      
      

<!-- Modal -->
<div id="editpic" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
   <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Update Profile Picture</h3>
        </div>
        <div class="modal-body">
            <ol>
            <li>Avoid Using Monochrome Or Filtered Images.</li>
            <li>Make Sure You Are Looking Straight At The Camera</li>
            </ol>
            <button class="btn btn-default">Choose Image</button>
            <p>No Image Chosen</p>
        </div>
        <div class="modal-footer">
          <form>
            <button class="btn btn-success">Change Image</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </form>  
          </div>
      </div>

  </div>
</div>
      

      
    
      
<div class="col-md-3 hidden-xs">
      
</div>
      
      
      
<div class="col-md-6">
<div class="panel panel-default">

<div class="panel-heading panelh">

<img src="img/aa.jpg" class="logo"><h5 class="brand">brand</h5>
    
</div>

<div class="panel-body panelb">
<img src="img/aa.jpg" class="media">
</div>

<div class="panel-footer panelf">
<div style="font-size:25px;"><span style="margin-right:20px;"><i class="fa fa-heart-o" aria-hidden="true"></i></span></div>
<h4>comment a </h4>
</div>
    
</div>    
</div>
      

      
      
<div class="col-md-3 hidden-xs">
      
</div>
      
      
      
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>