body{
        font-family: 'Quicksand', sans-serif;
}


.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    top:5%;
padding: 10px;
    transition: all 0.3s ease;
}

.scroll{
    background-color: rgba(0,0,0,0.7);
    border-color: transparent;
    top: 0;
    padding: 10px;
    box-shadow: 0 0 10px 2px dimgrey;
}
.brand-name{
    padding-left: 30px;
    margin-right: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
background-color: #5BB12F;
    border-radius: 5px;
}
li.text{
        text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
}
.white{
        color: floralwhite !important;
}



.about{
    text-align: center;
 font-family: 'Quicksand', sans-serif;
    margin-top: 120px;
}
.icon-size{
    width: 40%;
}
.company-content{
    margin-top: 90px;
    margin-bottom: 90px;
}
.profile-pic-nav {
    width: 30px;
    margin-right: 15px;
}
@media(max-width:500px){
    .about{
        margin-top: 70px;
    }
    .info-box{
        margin-bottom: 25px;
    }
}
.img-size{
    width: 100%
}






.img-size{
    width: 100%;
    height:172px;
}
.team{
     font-family: 'Quicksand', sans-serif;
    margin-top: 40px;
    padding-left: 40px;
    padding:40px;
}
.team-content{
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: left;
}
.bold{
font-weight: bold;
}
.designation{
    margin: 30px 0 30px 0;
}
.info-box{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 10px;
}








input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
     font-family: 'Quicksand', sans-serif;
}

.post-message{
    background-color: #5BB12F;
    color: white;
    padding: 12px 20px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.post-message:hover {
    background-color: #45a049;
}
label{
     font-family: 'Quicksand', sans-serif;
}

.contact-us{
      font-family: 'Quicksand', sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}
.mess-anim{
    text-align: center;
    margin-top: 60px;
}
.mess-icon{
    width: 50%;
}

